@import 'mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("./fonts/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

a {
    text-decoration: none;
}

input, 
textarea {
    height: 45px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 14px 15px;
    @include fontGeometria-style(14px, 18px);
}

input::placeholder,
textarea::placeholder {
    @include fontGeometria-style(14px, 18px);
    color: rgba(16, 16, 16, 0.4);
}

input:focus, 
textarea:focus {
    outline: none;
    border: 1px solid $blue;
}

.input_white {
    background: $white;
}

.input_grey {
    background: $light-grey;
}

.input_short {
    width: 235px;
}

.input_long {
    width: 278px;
}

button {
    border: none;
    outline: none;
    border-radius: 23.5px;
    @include fontGeometria-style(16px, 20px, bold);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    background: $orange;
    color: $white;
    height: 50px;
    transition: all .5s, box-shadow 1s;
}

button::before {
    background: $orange;
    color: $white;
}

button:hover {
    box-shadow: -2px 4px 0px 78px $white inset;
    border: 2px solid $orange;
    color: $orange;
}


h2 {
    @include fontGeometria-style(35px, 44px, 500);
    color: $dark-blue;
}

h3 {
    @include fontGeometria-style(22px, 28px, 500);
}

.content {
    min-height: calc(100vh - 93px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    background: $white;
    width: 100vw;
    z-index: 99;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 90px;
    }

    &__menu {
        height: 100%;
        margin: 0 90px 0 0;
    }

    &__phone {
        display: flex;
        align-items: center;

        & span {
            @include fontGeometria-style(22px, 28px, 500);
            margin: 0 0 0 10px;
            white-space: nowrap;
        }

        &:hover {
            & svg {
                animation: ring .5s;
            }
        }
    }
    &__burger {
        display: none;
    }
}

@keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo {
    display: flex;

    &__img {
        margin: 0 8px 0 0;
        width: 49px;
        height: 46px;
    }

    &__title {
        & h3 {
            @include fontPlay-style(20px, 23px);
        }

        & p {
            @include fontRoboto-style(15px, 18px);
            letter-spacing: 0.015em;
            color: rgba(14, 14, 14, 0.61);
        }
    }
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &__link {
        @include fontGeometria-style(12px, 15px);
        text-transform: uppercase;
        color: $dark-blue;
        height: 100%;
        padding: 37px 25px 38px;
        transition:all 0.3s linear;
        white-space: nowrap;

        &_active {
            color: $blue;
        }
    }

    &__link:last-child {
        margin: 0;
    }

    &__link:hover {
        background: $blue;
        color: $white;
        border: none;
        outline: none;
    }    
}

.intro {
    width: 100vw;
    min-height: 578px;
    background: url('./../images/intro_background.png') no-repeat center;
    background-size: cover;    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $white;
    }

    &__title {
        @include fontGeometria-style(44px, 55px, bold);
        max-width: 847px;
        margin: 199px 0 7px 0;
        letter-spacing: 0.015em;
    }

    &__text {
        @include fontGeometria-style(18px, 156%);
        max-width: 585px;
    }
}

.application {
    margin: -167px 0 0;

    &__container {
        margin: 0;
        background: url('./../images/application_background.png') no-repeat;
        background-position: center;
        background-size: 110% 120%;      
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 34px 72px 47px 73px;

        & span {
            color: $blue;
        }
    }

    &__header {
        margin: 0 0 25px 0;
    }

    &__form {
        display: flex;
        justify-content: space-between;        
    }

    &__button {
        margin: 16px 0 0;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & label {
        @include fontGeometria-style(14px, 18px, 300);
        color: $dark-blue;
        margin: 0 0 2px 0;
    }
}

.geography {
    width: 100vw; 
    
    &__container {
        width: 100%;
        display: flex;
        margin: 69px auto 60px;
    }

    &__map {
        width: 60%;
        min-height: 455px;
        background: url('./../images/russia.png') no-repeat;
        background-size: 110%;
        background-position: center;
    }

    &__content {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $dark-blue;
        padding: 25px 0 0;
    }

    &__header {
        margin: 0 0 23px;       
    }

    &__desc {
        @include fontGeometria-style(22px, 150%);
        max-width: 483px;
        margin: 0 0 19px;
    }

    &__text {
        max-width: 484px;
        @include fontGeometria-style(16px, 156%);
        color: rgba(0, 26, 51, 0.7);
        margin: 0 0 20px;
    }
}

.portfolio {
    width: 100vw;
    background: $background-grey;

    &__container {
        padding: 70px 0 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 0 38px;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
        & .slider__nav {
            display: none;
        }
    }

    &__btn {
        width: 410px;
        height: 70px;
        border-radius: 37.5px;
        color: $white;
        @include fontGeometria-style(20px, 25px, bold);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 39px 0 0;
    }
}

.prev-slide {
    margin: 0 48px 0 0;
}

.next-slide {
    margin: 0 0 0 46px;
}

.next-slide:hover,
.prev-slide:hover {
    path {
        stroke-opacity: 1;
    }
}

.slider {
    overflow: hidden;
    max-width: 1055px;
}

.slide {
    position: relative;
    transition: 1500ms;
    width: 1050px;
    height: 540px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    z-index: 0;
    

    &__item {
        position: absolute;
        background: $background-grey;
        // top: 0;
        // left: 0;
        width: 1055px;
        height: 540px;
        object-fit: cover;
        object-position: 0;
        display: flex;
        align-items: center;
        transition: 1500ms;
        // margin: 0 448px 0 0;

        @-moz-document url-prefix() {
            margin: 0;
        }
    }

    &__img {
        background: url('./../images/portfolio_foto.png');
        width: 408px;
        height: 540px;
    }

    &__text {
        background: $blue;
        width: 647px;
        padding: 40px 30px 83px;
        color: $white;
        display: flex;
        flex-direction: column;

        &_header {
            margin: 0 0 9px;
        }

        &_desc {
            @include fontGeometria-style(16px, 156%);
            color: rgba(255, 255, 255, 0.7);
            max-width: 481px;
            margin: 0 0 29px;
        }

        &_title {
            @include fontGeometria-style(18px, 23px, 500);
            margin: 0 0 17px;
        }

        &_list {
            display: grid;        
            grid-gap: 17px;
            align-items: start; 
            grid-template-columns: repeat(2, 1fr);
            list-style-type: none;
            
            & .list-item {
                background: url('./../images/check.svg') no-repeat left center;
                @include fontGeometria-style(16px, 20px);
                padding: 0 0 0 30px;
            }
        }
    }    
}

.benefits {
    width: 100vw;
    background: $white;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 79px 0 80px;
    }

    &__title {
        margin: 0 0 25px;
    }

    &__list {
        display: grid;
        grid-gap: 17px;
        align-items: start; 
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;       
    }

    &__img {
        position: relative;
        padding: 10px;
        margin: 0 34px 0 0;

        & .circle {
            width: 50px;
            height: 50px;
            background: rgba(65, 105, 193, 0.2);
            border-radius: 50%;            
        }

        & img {
            width: 70px;
            height: 70px; 
            position: absolute; 
            left: 0;
            top: 0;          
        }
    }

    &__text {
        & h3 {
            color: $dark-blue;
            margin: 15px 0 0;
        }

        & p {
            @include fontGeometria-style(14px, 150%);
            color: rgba(0, 26, 51, 0.7);
            max-width: 277px;
        }
    }
}

.about {
    width: 100vw;
    background: $background-grey;

    &__container {
        padding: 81px 0 145px;
    }

    &__title {
        margin: 0 0 50px;
    }

    &__desc {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__text {
        max-width: 585px;
        padding: 73px 71px 48px 73px;
        background: url('./../images/about_background.png') no-repeat;
        color: $white;
        z-index: 1;

        & h3 {
            margin: 0 0 14px 0;
        }

        & p {
            @include fontGeometria-style(16px, 156%);
            opacity: 0.7;
            margin: 0 0 15px;
        }
    }

    &__discharges {
        display: flex;

        & img{
            margin: 0 23px 0 0;
        }
    }

    &__img {
        position: absolute;
        right: 0;
        z-index: 0;
        max-width: 615;
    }
}

.contacts {
    width: 100vw;
    background: $blue;

    &__container {
        padding: 61px 0 0;
        display: flex;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        margin: 0 0 24px;
        color: $white;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $white;
        margin: 0 0 10px;

        &_item {
            display: flex;

            & h4 {
                @include fontGeometria-style(18px, 23px, 500);
                width: 90px;
            }

            & .item-data {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 156px;
                opacity: 0.7;

                & span {
                    @include fontGeometria-style(16px, 20px);
                    margin: 0 0 16px;
                }

                & p {
                    @include fontGeometria-style(14px, 18px);
                }
                
            }
        }
    }

    & h4 {
        @include fontGeometria-style(18px, 23px, 500);
        color: $white;
        margin: 0 0 27px;
    }

    &__social {
        display: flex;

        & svg {
            margin: 0 20px 0 0;
        }
    }

    & .feedback {
        width: 718px;
        height: 419px;
        background: $white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: -95px 0 60px 148px;
        padding: 40px 57px 43px 76px;

        &__title {
            margin: 0 0 21px;
        }

        &__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px 29px;
        }

        &__comments {
            grid-column: 2 / 3;
            grid-row: 1 /  4;
        }

        &__input {
            & input {
                background: $light-grey;
            }
        }

        &__check {
            position:relative;
            padding: 0 0 0 20px;
            margin: 12px 0 0; 
            
            & .checkbox-content {
                border-radius: 1px;
                width:6px;
                height:6px;
                background-color:$blue;
                position: absolute;
                left: 0;
                margin: 7px 0 0 3px;
                z-index: 10;
                display: none;
            }
            
            & label {
                @include fontGeometria-style(12px, 15px);
                color: rgba(16, 16, 16, 0.4);

                & a {
                    color: $dark-blue;
                    text-decoration-line: underline;
                }
            }

            & label:after {
                content:'';
                display:block;
                height:12px;
                width:12px;
                background: $light-grey;
                border-radius: 2px;
                position:absolute;                
                top: 4px;
                left: 0;
            }            
        }

        &__checkbox {
            display: none;
        }

        &__comment {
            background: $light-grey;
            width: 278px;
            height: 195px;
            resize: none;
        }

        &__button {
            width: 278px;
            margin: 12px 0 0;
        }
    }
}

.footer {
    width: 100vw;
    height: 93px;
    background: $dark-blue;

    &__container {
        padding: 38px 0 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h4 {
            @include fontGeometria-style(14px, 18px, 300);
            color: rgba(255, 255, 255, 0.53); 
        }
    }

    &__design {
        display: flex;

        & svg {
            margin: 0 8px 0 0;
        }

        & a {
            @include fontGeometria-style(14px, 130%);
            text-decoration-line: underline;
            color: $white;
        }
    }
}